<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.crm.logManage.mapper.LogMapper">

    <select id="queryAllLogs" resultType="java.util.Map">
       select s.id, s.loginName, s.operationName, s.operationClass, s.operationAddress, s.params, s.ip, s.createTime from syslog s
        <where>
            <if test="operationName != null and operationName != ''">
                s.operationName like concat('%',#{operationName},'%')
            </if>
            <if test="startTime != null and startTime != ''">
                and s.createTime >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and  #{endTime} >= s.createTime
            </if>
    </where>
    </select>
</mapper>